{{!< default}}

{{#post}}

<section class="post">
  <div class="post-container">
    <header class="post-header flex items-center direction-column">
      <div class="post-header__meta flex items-center">
        {{#if tags}}
          <div class="post-tags flex items-center">
            {{#foreach tags}}
              <span class="post-tags__item">{{name}}</span>
            {{/foreach}}
          </div>
        {{/if}}
        <div class="post-header__date">{{date format='MMMM DD, YYYY'}}</div>
      </div>
      <h1 class="post-header__title">{{title}}</h1>
      {{#primary_author}}
        <div class="post-author flex items-center">
          {{#if profile_image}}
            <img src="{{profile_image}}" class="post-author__image" alt="{{name}}">
          {{/if}}
          <a href="{{url}}" class="post-author__name">{{name}}</a>
        </div>
      {{/primary_author}}
      {{!-- {{#if custom_excerpt}}
        <p class="post-header__excerpt">{{custom_excerpt}}</p>
      {{/if}} --}}
      {{#if feature_image}}
        <img src="{{feature_image}}" class="post-header__image" alt="{{title}}">
      {{/if}}
      <div class="post-header__bottom flex items-center space-between">
        {{#if reading_time}}
          <time datetime="{{date format="YYYY-MM-DD"}}" class="post-header__reading-time">{{reading_time}}</time>
        {{/if}}
        <div class="post-header__share flex items-center">
          <span>Share</span>
          {{> icons/share}}
        </div>
      </div>
    </header>
  </div>

  {{> components/toc}}

  <div class="post-container">
    <div class="post-content">
      <div class="gh-content gh-canvas js-toc-content">
          {{content}}
      </div>
    </div>
  </div>

  {{> components/post-promo}}

  {{#get "posts" filter="id:-{{id}}+primary_tag:{{primary_tag.slug}}" limit="3" include="tags"}}
    {{#if posts}}
      <div class="post-related">
        <div class="post-related__header flex items-center space-between">
          <h2 class="post-related__title">Keep reading</h2>
          <a href="{{../primary_tag.url}}" class="post-related__view-all">View all</a>
        </div>
        <div class="post-related__list">
          {{#foreach posts}}
            {{> components/cards/card-default class='card--default-smaller card--related'}}
          {{/foreach}}
        </div>
      </div>
    {{/if}}
  {{/get}}
</section>

{{/post}}
