{{!< default}}

<section class="cards-list cards-list--author-tag cards-list--separate flex direction-column" data-api-url="{{@site.url}}" data-content-key="{{@custom.content_api_key}}" data-tag-slug="{{tag.slug}}">
  <div class="cards-list__header flex items-center space-between">
    <h2 class="cards-list__title">{{tag.name}}</h2>
  </div>
  <div class="cards-list__articles">
    {{#get "posts" filter="tags:[{{tag.slug}}]" include="tags" limit=6}}
      {{#foreach posts}}
        {{> components/cards/card-default class='card--default-smaller'}}
      {{/foreach}}
    {{/get}}
  </div>
</section>